<div class="container">
  <div class="row profile">
    <!-- bio of user  -->
    <div class="col-xs-12 col-sm-4">
      <div class="bio-container">
        <%= cl_image_tag @user.avatar_image_url, class: "img-circle" %>

        <ul class="list-unstyled">
          <li> <h2><%= @user.first_name %> </li>
          <li> <%= t('.member') %> <%= time_ago_in_words(@user.created_at) %></li>
          <li>
            <div class= "user-description">
               <%= @user.long_description %>
            </div>

          </li>
          <li>description  <%= @user.short_description%></li>
          <li><%= t('.nationality') %> <%= @user.nationality%></li>
          <li><%= t('.age') %>  <%= @user.date_of_birth%></li>
           <% if @user.chapters.present? %>
             <li> <%= t('.traveled') %> <%= @user.chapters.count %> <%= t('.times') %></li>
           <% end %>
           <% if @user.teds.present? %>
             <li><%= t('.has') %> <%= @user.teds.count %> <%= t('.teds') %> </li>
           <% end %>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <!-- chapters wrote by user  -->
      <% if @user.chapters.present? %>
        <h1 class= "text-align"><%= t('.story') %></h1>
        <div class="row">
          <% @user.chapters.each do |chapter|  %>
            <% if chapter.photos.present? %>
              <div class="col-xs-12 col-sm-6">
                <%= link_to ted_path(chapter.ted, anchor: "chapter_#{chapter.id}") do %>
                  <div class="card-chapter" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(chapter.photos.first.image.path) %>');height: 250px ;">
                    <div class="card-description">
                      <h2><%= chapter.localisation %></h2>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
        <!-- ted of user  -->
      <% if @user.teds.present? %>
        <div class="row">

          <div class="col-xs-12">
            <h1 class= "text-align"><%= t('.mine') %></h1>
            <% @user.teds.each do |ted| %>
              <div class="col-xs-12 col-sm-6">
                <%= link_to ted_path(ted), class: 'my-card-link' do %>
                  <div class="container-content my-ted-card">
                    <header>
                      <div class="bio">
                        <div class="image-card" style="background-image: url('<%= cl_image_path ted.last_image_url %>');">
                        </div>
                        <div class="desc"></div>
                      </div>
                      <div class="avatarcontainer">
                        <% if ted.avatar? %>
                          <%= cl_image_tag(ted.avatar.path, class: "avatar-ted", size: '70x70', crop: :thumb, gravity: :face ) %>
                        <% else %>
                           <%= image_tag("ted-avatar.jpg", class: "avatar-ted", size: '70x70') %>
                        <% end %>
                        <div class="hover">
                            <div class="icon-twitter"></div>
                        </div>
                      </div>
                    </header>
                    <div class="content">
                      <div class="data">
                        <ul class="list-inline">
                          <li>
                            <span><%= t('.rank') %>:</span>
                            <%= ted.rank %>

                          </li>
                          <li>
                            <%= ted.distance_traveled.round  %>
                            <span><%= t('.distance') %></span>
                          </li>
                          <li>
                            <span> <%= t('.ontheroad') %></span>
                            <%= ted.days %>
                            <span><%= t('.days') %></span>
                          </li>
                        </ul>
                      </div>
                      <div class="follow">
                        <div class="icon-twitter"></div>
                        <p><%= ted.name %></p>
                      </div>

                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
