<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="border">
        <%= cl_image_tag @user.avatar_image_url  %>

        <h1>first_name <%= @user.first_name %></h1>
        <h1> created_at <%= @user.created_at%></h1>
        <h1> nationality <%= @user.nationality%></h1>
        <h1> long description  <%= @user.long_description %></h1>
        <h1> description  <%= @user.short_description%></h1>
        <h1> date of birth   <%= @user.date_of_birth%></h1>

     </div>
    </div>

    <div class="col-xs-6">
      <div class="border">
        <% @user.chapters.each do |chapter|  %>

        <% chapter.photos.each_with_index do |photo| %>

            <!-- One Clikable Photo -->
            <%=  cl_image_tag(photo.image.path) %>


            <% end %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
