
<div class="container">
  <div class="wrapper">
    <div class="row">
      <% @teds.each do |ted| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to ted_path(ted) do %>
            <div class="container-content">
              <header>
                <div class="bio">
                  <% if ted.chapters.present? %>
                    <% if ted.chapters.last.photos.present? %>
                      <%= cl_image_tag(ted.chapters.last.photos.first.image.path, class: "bg", height: 179, width: 320, crop: :fill ) %>
                    <% end %>
                  <% else %>
                    <%= image_tag("http://www.croop.cl/UI/twitter/images/up.jpg", class: "bg") %>
                  <% end %>
                  <div class="desc"></div>
                </div>
                <div class="avatarcontainer">
                  <% if ted.avatar? %>
                    <%= cl_image_tag(ted.avatar.path, class: "avatar-ted", size: '70x70', crop: :thumb, gravity: :face ) %>
                    <% else %>
                     <%= image_tag("ted-avatar.jpg", class: "avatar-ted", size: '70x70') %>
                  <% end %>
                  <div class="hover">
                      <div class="icon-twitter"></div>
                  </div>
                </div>
              </header>
              <div class="content">
                <div class="data">
                  <ul>
                    <li>
                        <%= ted.rank %>
                      <span>rank</span>
                    </li>
                    <li>
                      <%= ted.distance_traveled  %>
                      <span>distance</span>
                    </li>
                    <li>
                      <p>2 </p>
                      <span>days</span>
                    </li>
                  </ul>
                </div>
                <div class="follow"> <div class="icon-twitter"></div>
                  <p><%= ted.name %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




