
<hr style="visibility:hidden;">
<div class="row">
  <% @teds.each do |ted| %>
    <div class="col-xs-12 col-sm-4">


      <%= link_to ted_path(ted) do %>

      <% if ted.chapters.present? %>
        <% if ted.chapters.last.photos.present? %>
          <div data-sr="ease-in-out 20px, over 0.8s" class="card-photo" style="background-image: linear-gradient(-225deg, rgba(0,10,80,0.6) 0%, rgba(0,5,20,0.3) 5%), url('<%= cl_image_path(ted.chapters.last.photos.first.image.path)%>');">
        <% end %>
      <% else %>
          <div data-sr="ease-in-out 20px, over 0.8s" class="card-photo" style="background-image: linear-gradient(-225deg, rgba(0,10,80,0.6) 0%, rgba(0,5,20,0.3) 5%), url('http://www.bizziebaby.co.uk/images/library/jofli1.jpeg');">
      <% end %>



            <div class="avatarcontainer">
              <% if ted.avatar? %>
                <%= cl_image_tag(ted.avatar.path, class: "avatar-ted", size: '70x70', crop: :thumb, gravity: :face ) %>
              <% else %>
                 <%= image_tag("ted-avatar.jpg", class: "avatar-ted", size: '70x70') %>
              <% end %>
            </div>

            <div class="after-avatar btn navbar-wagon-button"><%= ted.name %>'s story</div>

            <div class="after-avatar rank">
              <i class="fa fa-trophy" aria-hidden="true"></i> <%= ted.rank %>
            </div>

            <div class="card-content">

              <% if ted.distance_traveled.round == 0 %>
                <h5><%= t('.beggining') %></h5>
              <% else %>
                <h4><%= ted.distance_traveled.round %><span> km <%=  t('.covered')%></span></h4>
                <% if ted.days > 1 %>
                  <h5><%= t('.in') %> <b><%= ted.days %></b> <%= t('.days') %></h5>
                <% end %>

              <% end %>
            </div>


          </div>

      <% end %>


    </div>
  <% end %>
</div>




