<div class="container-fluid">

  <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<div class="container">
<h1><%= t('.title') %></h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('.rank') %></th>
          <th><%= t('.name') %></th>
          <th><%= t('.owner') %></th>
          <th><%= t('.location') %></th>
          <th><%= t('.distance_traveled') %> km</th>
        </tr>
      </thead>
      <tbody>
        <% @teds.reverse.each do |ted| %>
          <tr>
            <td><%= ted.rank %></td>
            <td><%= link_to ted.name, ted_path(ted) %></td>
            <td><%= ted.user.first_name %></td>
            <td><%= ted.location %></td>
            <td><%= ted.distance_traveled.round %> km</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({
          internal: { id: 'map' },
          provider: {
              scrollwheel: false,
              fullscreenControl: true,
              streetViewControl: false,
              mapTypeControl: false,
              styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]
            }
        }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</div>
