<div class="container">
  <h2><%= t('.map') %></h2>
  <div id="map" style="width: 100%; height: 400px;"></div>
  <h1><%= t('.title') %></h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('.rank') %></th>
          <th><%= t('.name') %></th>
          <th><%= t('.owner') %></th>
          <th><%= t('.location') %></th>
          <th><%= t('.distance_traveled') %> km</th>
          <th><%= t('.details') %></th>
        </tr>
      </thead>
      <tbody>
        <% @teds.each do |ted| %>
          <tr>
            <td><%= ted.rank %></td>
            <td><%= ted.name %></td>
            <td><%= ted.user.first_name %></td>
            <td><%= ted.location %></td>
            <td><%= ted.distance_traveled.round %></td>
            <td><%= link_to "details", ted_path(ted)  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</div>
