<div class="container">

  <h1><%= t('.title') %></h1>

  <div class="row">
    <div class="col-xs-12">
      <% @teds.each do |ted| %>
        <div class="ted">
          <p>
            <%= ted.name %>
            <%= ted.rank %>
            <%= ted.distance_traveled %>
            <%= ted.user.first_name %>






            <%= link_to "details", ted_path(ted) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
