<div class="container-full">
   <div id="map" style="width: 100%; height: 400px;"></div>
  <h1><%= t('.title') %></h1>

  <% @chapters.each do |chapter| %>
    <%= chapter.country %>
    <% end %>
  <!-- Offset & main row-->
  <div class="row">
   <div class="col-xs-10 col-xs-offset-1">
    <div class="row">

<!--
      TODO :
      - Locations with sizable text
      - Better Responsive Timeline

      TODO :
      - Better Write a Chapter Form

 -->
      <!-- Story Title -->
      <h1>
        <img src="http://cdn.perfectmemorials.com/product_images/3673837/lg/3415.brownteddybearcr_lrg_0.jpg" class="avatar-large" />
        <%=  t('.history')%> <%= @ted.name %>
      </h1>



      <!-- Call-To-Action -->
      <%= form_tag ted_check_code_path(@ted) do %>
        <%= label_tag(:ted_code, "code") %>
        <%= text_field_tag(:ted_code) %>
        <%= submit_tag(t('chapter'), class:"btn btn-default")  %><span class="btn glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>



      <!-- TIMELINE STARTS HERE-->

      <ul class="cbp_tmtimeline">
      <% chapter_number = @ted.chapters.size + 1 %>

      <% @ted.chapters.reverse.each do |chapter| %>


          <% if chapter == @ted.chapters.last %>
            <li id="chapter_<%= chapter.id %>" class="current_chapter">
          <% else %>
            <li id="chapter_<%= chapter.id %>">
          <% end %>

            <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                <span>
                  <% if chapter.user.first_name? %>
                      <%= chapter.user.first_name %>
                  <% else %>
                    <%= t('.someone') %>
                  <% end %>
                  <%= t('.brought') %> <%= @ted.name %> <%= t('.here') %>
                </span>
                <span><%= chapter.localisation %> !</span>
            </time>


            <div class="cbp_tmicon">
              <!-- TODO : change by chapter_user_path -->
              <%= link_to chapter.user.avatar_image_url do %>
                <%= cl_image_tag chapter.user.avatar_image_url, class: "avatar-timeline" %></a>
              <% end %>
            </div>


            <div class="cbp_tmlabel" data-sr="ease-in-out 10px, over 1.2s">

              <!-- Chapter -->
              <div class="row chapter">

                <!-- Chapter Title -->
               <% chapter_number -= 1 %>
                <h1 class="padding">Chapter <%= chapter_number %>. <%= @ted.name %>
                  <% if chapter == @ted.chapters.last %>
                      <%= t('.travels') %>
                   <% else %>
                      <%= t('.traveled') %>
                   <% end %>
                  <%= chapter.localisation %>

                  </h1>
                <% if chapter.user.first_name == current_user %>
                  <p class="padding">Chapter written by <b>you/b></p>
                <% elsif chapter.user.first_name? %>
                  <p class="padding">Chapter written by
                    <!-- TODO : change by chapter_user_path -->
                    <%= link_to chapter.user.avatar_image_url do %>
                      <b><%= chapter.user.first_name %></b>
                    <% end %>
                  </p>
                <% end %>

              <div id="chapter_body_<%= chapter_number %>">

                <!-- Map & Text -->
                <div class="col-md-4">
                  <div class="gmap" id="map-<%= chapter.id %>" data-longitude="<%= chapter.longitude %>" data-latitude="<%= chapter.latitude %>" style='width: 100%; height: 400px;'></div>

                  <p><%= chapter.description %></p>
                </div>


                <div class="col-md-8">
                 <div class="row">

                    <% chapter.photos.each_with_index do |photo, index| %>

                     <% if index == 0 %>
                         <div class="col-md-8">
                     <% elsif chapter.photos.size > 3 %>
                        <div class="col-md-2">
                     <% else %>
                         <div class="col-md-4">
                     <% end %>

                          <!-- One Clikable Photo -->
                          <%= link_to cl_image_path(photo.image.path), class: "swipebox", title: chapter.localisation + '<br/>' + photo.title + '<br/>'+ photo.description do %>
                            <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.image.path, height: 600, gravity: :center, crop: :fill %>');">
                              <div class="card-content">
                                <h3 class="font<%= [1,2,3,4,5].sample %>"><%= photo.title %></h3>
                              </div>
                            </div>
                          <% end %>


                      <% index +=1 %>

                        </div>
                    <% end %>

              </div>


                  </div>
                </div>



              </div><!-- Chapter -->
            </div>
          </li>

      <% end %>
      </ul>

    <!-- Offset & main row-->
    </div>
   </div>
  </div>

   <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>

</div><!--container-->
