<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.bdo.az/getattachment/30a1eb5a-de0b-4058-9656-503dc8f7d7f9/Items-You-Shouldn%E2%80%99t-Take-On-Summer-Holiday.jpg.aspx?lang=en-GB&width=1200&height=800&ext=.jpg');">
  <div class="banner-content">
    <h1> <%= t('.value-proposition') %></h1>
    <p> <%= t('.second-value') %></p>

    <%= link_to t('all'), teds_path, class: "btn navbar-wagon-button" %>
    <%= link_to smile_path, class: "btn navbar-wagon-button" do %>
      <%= t('new_ted') %>
    <% end %>


  </div>
</div>


<div class="wraper-content">
 <div style="background-image: url(<%= image_path("map-background-transparent1.png") %>); background-size: cover;">
  <div class="container">
    <div class="row ">
      <!-- <div class="content-info">
      <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("tedpic.jpg", height: '220', width: '200')%>
          <h3>1. <%= t('.order') %></h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("girlpic.jpg", height: '220', width: '200')%>
          <h3>2. <%= t('.write') %></h1>
        </div>
      </div>

     <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("boxted.jpg", height: '220', width: '200')%>
          <h3>3. <%= t('.send') %></h3>
        </div>
      </div>
    </div>
    </div> -->


    <%= render 'teds/all' %>

  </div>
</div>
