<div class="banner" style="background-image: url(http://www.bdo.az/getattachment/30a1eb5a-de0b-4058-9656-503dc8f7d7f9/Items-You-Shouldn%E2%80%99t-Take-On-Summer-Holiday.jpg.aspx?lang=en-GB&width=1200&height=800&ext=.jpg); background-repeat: no-repeat; background-size: cover !important;">
  <div class="banner-style">
    <div class="banner-content">
      <h1> <%= t('.value-proposition') %></h1>
      <h3> <%= t('.second-value') %></h3>
    </div>
    <div class="banner-search">
      <%= form_tag teds_path, method: :get,  wrapper: :inline_form, html: {class: 'form-inline'} do %>
        <%= text_field_tag :name, nil, placeholder: t('search') %>
        <button class='btn btn-primary'  type="submit"> <%= t('submit')%></button>
      <% end %>
    </div>
  </div>s
</div>
<div class="wraper-content" style="background-image: url(<%= image_path("map-background.jpg") %>); ">
  <div class="container">
    <div class="row ">
      <div class="content-info">
      <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("tedpic.jpg", height: '220', width: '200')%>
          <h3>1. order a Teddy from the website</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("girlpic.jpg", height: '220', width: '200')%>
          <h3>2. Write the first chapter of your ted life</h1>
        </div>
      </div>

     <div class="col-xs-12 col-sm-4" >
        <div class="image-info text-center">
          <%= image_tag("boxted.jpg", height: '220', width: '200')%>
          <h3>3. send back to us,  we will give your ted to travellers</h3>
        </div>
      </div>
    </div>
    </div>

    <%= render 'teds/all' %>

    </div>
  </div>
</div>
