<!DOCTYPE html>
<html>
  <head>
    <title>SmillingTed</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" type="image.png" href=" <%= asset_url 'logo.png' %>">

    <meta property="og:url" content="http://smiling-ted.herokuapp.com" />
    <meta property="og:image" content="http://d1kcl3yiuixneo.cloudfront.net/wp-content/uploads/teddy-bear-travel-3636201866.jpg" />
    <meta property="og:description" content="Be a part of a beautifull story" />
    <meta property="og:site_name" content="Smiling Ted" />    
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div id="body-wrap">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>


    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %>
     <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


  <%= yield(:after_js) %>

  </body>
</html>
